

<br>
<h1><%=@stock.Name.upcase%></h1>
<br>


<br>

<table class="table table-dark table-striped table-sm">
  <thead class="thead" style="bg-color:dark;">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Price(₹)</th>
    </tr>
  </thead>
  <tbody>
<%@sp.each do |stock_price|%>
    <tr>
      <th scope="row">1</th>
      <td>
<%=stock_price.date%></td>
      <td><%=stock_price.price%></td>
    </tr>
<%end%>
  </tbody>
</table>